
<section id="education" class="about-mf sect-pt4 route" style="background:
  linear-gradient(50deg, #3b5acc 10%, #310441 90%);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  EDUCACIÓN
                </h3>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>

          <div class="accordion accordion-flush border border-dark border-2
            rounded-3" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header " id="flush-headingOne">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                  aria-expanded="false" aria-controls="flush-collapseOne">
                  <h4 class="s-title"> Bachillerato en Informatica <img src="assets/img/sanPablo.png" alt="" class="img-fluid" style="width: 120px; border-radius: 10%;"></h4>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="subtitle-a"><b>Institución: </b>Colegio San Pablo </p>
                  <p class="subtitle-a"><b>Fecha: </b>2002-2017</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                  aria-expanded="false" aria-controls="flush-collapseTwo">
                  <h4 class="s-title"> Ing. Sistemas de la Información <img src="assets/img/utnfrm.png" alt="" class="img-fluid" style="width: 120px; border-radius: 10%;"></h4>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="subtitle-a"><b>Institución: </b>UTN-FRM</p>
                  <p class="subtitle-a"><b>Fecha: </b>2018-actual</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false" aria-controls="flush-collapseThree">
                  <h4 class="s-title"> Full Stack Developer Jr <img src="assets/img/logoargProg.png" alt="" class="img-fluid" style="width: 120px; border-radius: 10%;"></h4>
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="subtitle-a"><b>Institución: </b>Argentina Programa</p>
                  <p class="subtitle-a"><b>Fecha: </b>2022-2022</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->