<h2>Portfolio</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/img/portfolio1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <p class="card-text">Esta es una tarjeta más larga con texto de
              apoyo a continuación como una introducción natural a contenido
              adicional.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/img/portfolio2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">Esta es una tarjeta más larga con texto de
              apoyo a continuación como una introducción natural a contenido
              adicional.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./assets/img/portfolio3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <p class="card-text">Esta es una tarjeta más larga con texto de
              apoyo a continuación como una introducción natural a contenido
              adicional.</p>
          </div>
        </div>
      </div>
    </div>
