<app-main-nav></app-main-nav>
<app-home></app-home>
<!-- <section id="home">
</section>

 <section id="quiensoy" class="quiensoy"> 
  </section>
  <section id="info" class="info">
  </section>
  <section id="mistrabajos" class="mistrabajos">
  </section>
  <section id="formulariocontacto" class="formulariocontacto">
  </section>
  <footer id="piedepagina">
    <div class="pie row">
      <div class="col border border-dark">
        <img src="imagenes/facebook.png" width="30" height="30" class=""
          alt="...">
        <a href="https://www.facebook.com/juani.olivares.14" class="redes
          link-dark">Nacho Olivares</a>
      </div>
      <div class="col border border-dark">
        <img src="imagenes/instagram.png" width="30" height="30" class=""
          alt="...">
        <a href="https://www.instagram.com/juani_olivaress/" class="redes
          link-dark">@juani_olivaress</a>
      </div>
      <div class="col border border-dark">
        <img src="imagenes/gmail.png" width="30" height="30" class=""
          alt="...">
        <a href="mailto:juaniolivares95@gmail.com" class="redes link-dark">juaniolivares95@gmail.com</a>
      </div>
      <div class="col border border-dark">
        <img src="imagenes/whatsapp-2.png" width="45" height="30" class=""
          alt="...">
        <a href="" class="redes link-dark">2615868094</a>
      </div>
    </div>
  </footer>
-->

<!--<router-outlet></router-outlet>-->