
<div class="formulariocontacto">
    <h2 class="text-center">Formulario</h2>
    <div class="container border border-3 border-dark rounded-3">
      <form class="formulario row g-3">
        <div class="col-md-6 border border-dark border-2 rounded-3">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" required>
        </div>
        <div class="col-md-6 border border-dark border-2 rounded-3">
          <label for="inputApellido" class="form-label">Apellido</label >
          <input type="text" class="form-control" id="inputApellido">
        </div>
        <div class="col-6 border border-dark border-2 rounded-3">
          <label for="inputTelefono" class="form-label">Telefono</label>
          <input type="number" class="form-control" id="inputTelefono">
        </div>
        <div class="col-6 border border-dark border-2 rounded-3">
          <label for="inputMail" class="form-label">Mail</label>
          <input type="email" class="form-control" id="inputMail" >
        </div>
        <div class="col-md-12 border border-dark border-2 rounded-3">
          <label for="inputMensaje" class="form-label">Mensaje</label >
          <textarea id="" cols="30" rows="5" class="form-control m-2"></textarea>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary col-sm-3 mx-auto">Enviar</button>
        </div>
      </form>
    </div>
</div>
