<!-- ======= Services Section ======= -->
<section id="services" class="services-mf pt-5 route" style="background: linear-gradient(50deg, #3b5acc  10%, #310441  90%);">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h1 class="title-a" style="color: white;">
              Experiencia
            </h1>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DISEÑO WEB</h2>
              <p class="s-description text-center">
                Un área enfocada en el desarrollo de interfaces digitales, 
                como el diseño de sitios y aplicaciones para web. Para ello, los diseñadores web 
                crean las páginas utilizando lenguajes de marcado como HTML.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DESARROLLO WEB</h2>
              <p class="s-description text-center">
                Construir y mantener sitios web; es el trabajo que tiene lugar en 
                un segundo plano y que permite que una web tenga una apariencia impecable, un funcionamiento 
                rápido y un buen desempeño para permitir la mejor experiencia de usuario.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
  <!-- ======= Counter Section ======= -->
  <div class="section-counter paralax-mf bg-image"  style="background: linear-gradient(50deg, #3b5acc  10%, #310441  90%);">
    <div class="container position-relative">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-check"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1" class="counter purecounter">2</p>
              <span class="counter-text">TRABAJOS COMPLETOS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="counter purecounter">1</p>
              <span class="counter-text">AÑOS DE EXPERIENCIA</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-people"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1" class="counter purecounter">2</p>
              <span class="counter-text">TOTAL CLIENTES</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter">1</p>
              <span class="counter-text">TITULOS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Counter Section -->
