<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo"><img src="assets/img/logoargProg.png" alt="" class="img-fluid"></a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Sobre Mí</a></li>
        <li><a class="nav-link scrollto" href="#services">Experiencia</a></li>
        <li><a class="nav-link scrollto " href="#education">Educación</a></li>
        <li><a class="nav-link scrollto " href="#skills">Habilidades</a></li>
        <li><a class="nav-link scrollto " href="#work">Portafolio</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        <li><a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-person-circle" style="font-size: 2em;"></i></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content" style="background: linear-gradient(50deg, #3b5acc  10%, #310441  90%);">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: white;">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body" >
        <div class="container">
          <form >
            <h3 style="color: black;"><i class="bi bi-person"></i> Email</h3>
            <div class="form-field">
              <input id="email" type="email" placeholder="Email" formControlName="email"
              
              class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"/>
            </div>
            
            <h3 style="color: black;"><i class="bi bi-key"></i> Contraseña</h3>
            <div class="form-field" >
              <input id="password" type="password" placeholder="Password" formControlName="password"
            
              class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp"/>  
            </div>
            
            <div class="form-field">
              <button class="btn" type="submit">INGRESAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>